.Main-Item-Welcome {
    text-align: center;
}

.Main-Item-Container {
    margin-top: 10px;
    margin-left: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}

.Main-Item-SourceStrings {
    height: calc(35% - 1px);
    width: 100%;

    .Main-Item-SourceStrings-entry {
        margin-left: 15px;
        height: 100%;
        width: calc(100% - 10px);
        display: flex;
        flex-direction: column;

        .Main-Item-SourceStrings-Header {
            flex-direction: row;
            display: flex;
            align-items: center;
            height: 50px;

            .Main-Item-SourceStrings-Header-header {
                flex-direction: row;
                display: flex;
                align-items: center;

                .Main-Item-SourceStrings-Header-header-title {
                    font-size: 2rem;
                    margin-right: 10px;
                }

                .Main-Item-SourceStrings-Header-header-change_date, 
                .Main-Item-SourceStrings-Header-header-change_time {
                    font-size: 1.3rem;
                    margin-left: 5px;
                    margin-right: 5px;
                    color: #8f8f8f;
                }
            }

            .Main-Item-SourceStrings-Header-Status {
                margin-left: auto;

                .Main-Item-SourceStrings-Header-Status-done {
                    color: rgb(0, 255, 0);
                    border: 1px solid rgb(0, 255, 0);
                    border-radius: 5px;
                }
                .Main-Item-SourceStrings-Header-Status-raw {
                    color: rgb(255, 0, 0);
                    border: 1px solid rgb(255, 0, 0);
                    border-radius: 5px;
                }
            }
            
            .Main-Item-SourceStrings-Header-buttons {
                flex-direction: row;
                display: flex;
                margin-left: 10px;
                margin-right: 20px;

                .Main-Item-SourceStrings-Header-buttons-previous,
                .Main-Item-SourceStrings-Header-buttons-next {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 30px;
                    width: 30px;

                    .Main-Item-SourceStrings-Header-buttons-previous-arrow {
                        transform: rotate(180deg);
                    }
                }

                .Main-Item-SourceStrings-Header-buttons-previous:hover,
                .Main-Item-SourceStrings-Header-buttons-next:hover {
                    background-color: #8f8f8f;
                    border-radius: 8px;                    
                }
                .Main-Item-SourceStrings-Header-buttons-previous:active,
                .Main-Item-SourceStrings-Header-buttons-next:active {
                    background-color: #080808;
                    border-radius: 8px;                    
                }
            }
        }

        .Main-Item-SourceStrings-Strings {
            flex-direction: column;
            display: flex;
            flex-grow: 1;

            .Main-Item-SourceStrings-Strings-Versions {
                flex-direction: column;
                display: flex;
                margin-top: auto;
                margin-bottom: auto;
            }

            .Main-Item-SourceStrings-Strings-Context {
                flex-direction: column;
                display: flex;
                height: 100px;
                margin-bottom: 10px;

                .Main-Item-SourceStrings-Strings-Context-context {
                    margin-bottom: 5px;
                }

                .Main-Item-SourceStrings-Strings-Context-fields {
                    color: #8f8f8f;
                    margin-left: 10px;
                }
            }
        }
    }
}


.Main-Item-TargetField {
    height: calc(35% - 1px);
    width: 100%;

    .Main-Item-TargetField-entry {
        margin-left: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
    
        .Main-Item-TargetField-entry-text {
            margin-top: 20px;
            margin-left: 10px;
            height: 100%;
            margin-bottom: 20px;

            .Main-Item-TargetField-entry-textarea {
                width: calc(100% - 20px);
                height: 100%;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 0px solid #ccc;
                color: #ccc;
                border-radius: 4px;
                background-color: #242424;
                font-size: 20px;
                resize: none;
                outline: #ffffff;
            }
            .Main-Item-TargetField-entry-textarea:focus {
                    border: 2px solid #ccc; 
            }
        }

        .Main-Item-TargetField-entry-buttons {
            display: flex;
            flex-direction: row;
            margin-top: auto;
            margin-bottom: 20px;

            .Main-Item-TargetField-entry-buttons-copy,
            .Main-Item-TargetField-entry-buttons-clear {
                    height: 40px;
                    width: 40px;
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 80%;
                        width: 80%;
                    }
                }

            .Main-Item-TargetField-entry-buttons-copy:hover,
            .Main-Item-TargetField-entry-buttons-clear:hover {
                    background-color: #8f8f8f;
                    border-radius: 8px;
            }

            .Main-Item-TargetField-entry-buttons-copy:active,
            .Main-Item-TargetField-entry-buttons-clear:active {
                    background-color: #080808;
                    border-radius: 8px;
            }

            .Main-Item-TargetField-entry-buttons-save {
                color: #8f8f8f;
                border: 2px solid #282c33;
                border-radius: 5px;
                background-color:#242424;
                margin-left: auto;
                margin-right: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 110px;

                img {
                    height: 80%;
                    margin-right: 5px;
                }
            }

            .Main-Item-TargetField-entry-buttons-save:hover {
                background-color:#353535;
                color: #ffffff;
            }

            .Main-Item-TargetField-entry-buttons-save:active {
                background-color:#080808;
            }
        }
    }
}

.Main-Item-Comments {
    height: calc(30% - 1px);
    width: 100%;    

    .Main-Item-Comments-Entry {
        height: 100%;
        margin-left: 10px;
        display: flex;
        flex-direction: column;

        .Main-Item-Comments-Entry-main {
            margin-top: 10px;
        }
        .Main-Item-Comments-Entry-comments {
            margin-top: auto;
            margin-bottom: auto;
        }
        .Main-Item-Comments-Entry-new_comment {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;

            hr {
                width: 70%;
                margin-bottom: 0px;
                border-top: 1px solid;
            }

            .Main-Item-Comments-Entry-new_comment-textarea {
                width: calc(100% - 20px);
                height: 100%;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 0px solid #ccc;
                color: #ccc;
                border-radius: 4px;
                background-color: #242424;
                font-size: 20px;
                resize: none;
                outline: #ffffff;
            }

            .Main-Item-Comments-Entry-new_comment-button {
                color: #8f8f8f;
                border: 2px solid #282c33;
                border-radius: 5px;
                background-color:#242424;
                margin-left: auto;
                margin-right: 20px;
                margin-top: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 110px;                
            }

            .Main-Item-Comments-Entry-new_comment-button:hover {
                background-color:#353535;
                color: #ffffff;
            }
            .Main-Item-Comments-Entry-new_comment-button:active {
                background-color:#080808;
            }
        }
    }
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50%;
    border-top: 1px solid;
}