alembic==1.13.1
fastapi==0.110.0
grpcio-status==1.48.2
httptools==0.6.1
lxml==5.1.0
openpyxl==3.1.2
pandas==2.2.1
playwright==1.44.0
python-dotenv==1.0.1
pyyaml==6.0.1
uvicorn==0.28.0
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
