.CategoryBlock {
    background-color: #121212;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.SideBar-category-button {
    height: 50px;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.SideBar-category-button:hover {
    background-color: #4f4f4f !important;
}

.SideBar-category-button:active {
    background-color: #080808 !important;
}

.Icon-button {
    margin-left: 10px;
}

.Name-button {
    margin-left: 10px;
}

.change_date {
    color: #8f8f8f;
}